<!html>
<head>
    <title>P2Pool Bitcoin Nodes Scanned <TMPL_VAR AUDIT_START></title>
    <style>
h1      {   font-size:          14px;
        }
table   {   font-size:          10px;
        }
th      {   color:              black;
            background-color:   grey;
            font-size:          11px;
        }
.warn   {   text-align:         center;
        }
.number {   text-align:         right;
        }
.warning {  color:              red;
        }
    </style>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.24.3/js/jquery.tablesorter.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.24.3/js/jquery.tablesorter.widgets.js"></script>
    <script type="text/javascript">
$(document).ready(function() {
    $('#results').tablesorter({
        textExtraction: function(node) {
            return node.attributes.sortval.value;
        },
        theme: 'ice',
        headerTemplate: '{content}{icon}',
        widgets: ["zebra", "columns"],
        widgetOptions: {
            columns: ["primary", "secondary", "tertiary"],
            columns_thead: true,
            columns_tfoot: true
        }
    })
}
);
    </script>
</head>
<body>
    <h1>P2Pool Bitcon Nodes scanned <TMPL_VAR AUDIT_START> to <TMPL_VAR AUDIT_END></h1>

    <a href="p2nodes-heatmap.html">Stats Heatmap</a><br />

    <b>Pool stats</b>
    <li>TOTAL Nodes: <TMPL_VAR NODE_COUNT>; hashrate: <TMPL_VAR HASHRATE>; Latest version: <TMPL_VAR MAX_VERSION>
    <li>Min #peers <TMPL_VAR MIN_PEERS>; Max #peers <TMPL_VAR MAX_PEERS>
    <li>Largest fee charged <TMPL_VAR MAX_FEE>
    <li>Worst node efficiency <TMPL_VAR MIN_EFFICIENCY>

    <table id="results" class="tablesorter">
        <thead>
        <tr>
            <th>Alert</th>
            <th>Name
            </th>
            <th>Version
            </th>
            <th>Country
            </th>
            <th>City
            </th>
            <th>Latitude
            </th>
            <th>Longitude
            </th>
            <th>%Donated
            </th>
            <th>%Fee
            </th>
            <th>#Miners
            </th>
            <th>Hashrate
            </th>
            <th>#Peers
            </th>
            <th>Uptime
            </th>
            <th>%Efficiency
            </th>
            <th>%Eff if Perfect
            </th>
        </tr>
        </thead>
        <tbody>
        <TMPL_LOOP NODES>
        <tr id="<TMPL_VAR ID>" <TMPL_IF WARNINGS>class="warning"</TMPL_IF>>
            <td class="warn" sortval="<TMPL_VAR WARNINGS>"><TMPL_IF WARNINGS><a href="#" title="<TMPL_VAR WARNINGS>">!!</a><TMPL_ELSE>&nbsp;</TMPL_IF>
            </td>
            <td sortval="<TMPL_VAR NAME>">
                <a href="http://<TMPL_VAR IP>:<TMPL_VAR PORT>"><TMPL_VAR NAME></a>
            </td>
            <td sortval="<TMPL_VAR VERSION>"><TMPL_VAR VERSION>
            </td>
            <td sortval="<TMPL_VAR COUNTRY>"><TMPL_VAR COUNTRY>
            </td>
            <td sortval="<TMPL_VAR CITY>"><TMPL_VAR CITY>
            </td>
            <td sortval="<TMPL_VAR LATITUDE>"><TMPL_VAR LATITUDE>
            </td>
            <td sortval="<TMPL_VAR LONGITUDE>"><TMPL_VAR LONGITUDE>
            </td>
    
            <td sortval="<TMPL_VAR DONATION>" class="number"><TMPL_VAR DONATION>
            </td>
            <td sortval="<TMPL_VAR FEE>" class="number"><TMPL_VAR FEE>
            </td>
            <td sortval="<TMPL_VAR MINERS>" class="number"><TMPL_VAR MINERS>
            </td>
            <td sortval="<TMPL_VAR HASHRATE_RAW>" class="number"><TMPL_VAR HASHRATE>
            </td>
            <td sortval="<TMPL_VAR PEERS>" class="number"><TMPL_VAR PEERS>
            </td>
    
            <td sortval="<TMPL_VAR UPTIME_RAW>" class="number"><TMPL_VAR UPTIME>
            </td>
            <td sortval="<TMPL_VAR EFFICIENCY>" class="number"><TMPL_VAR EFFICIENCY>
            </td>
            <td sortval="<TMPL_VAR PERFECT>" class="number"><TMPL_VAR PERFECT>
            </td>
        </tr>
        </TMPL_LOOP>
        </tbody>
    </table>
</body>
</html>
